# begin file .htaccess
AuthUserFile /var/www/htpasswd
AuthGroupFile /dev/null
AuthName "By Invitation Only"
AuthType Basic

<Limit GET>
order deny,allow
deny from all
allow from .wellesley.edu
allow from 149.130.
require valid-user
satisfy any
</Limit>
# end file .htaccess
