/* font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);

body {
    font-size: 2.25rem; /* skeleton default is 1.5rem */
}

@media print {
    body { font-size: 12pt; }
}

/* ================================================================ 
   colors (someday, make these variables)
   #1EAEDB: the blue used for the nav bar background and other highlighting
*/
   
#site_nav {
    background: rgb(30, 174, 219);
    background: rgba(30, 174, 219, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 60px;
}

#main { margin-top: 80px; } /* compensate for fixed site_nav */ 

#site_nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#site_nav li {
    display: inline-block;
}

#site_nav a {
    display: block;
    margin: 0px;
    padding: 1% 2%;
    padding: 10px 20px;
    height: 40px;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

#site_nav li:hover, #site_nav .current_page {
    background: #eee;
}


#TOC {
    height: 1000px;
}

.nav, #TOC nav {
    position: fixed;
    background-color: #eee;
    top: 5%;                /* Needs to compensate for height of #site_nav */
    padding: 10px;
}

.half {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 48%;
}

/* ================================================================ */

h1, h2, h3 {
    color: #1EAEDB;
}

h2 {
    border-top: 1px solid #1EAEDB;
}

/* ================================================================ */
/* Tweaks to general pages */

img { max-width: 100%; }

/* ================================================================ */
/* classes from bootstrap */

.alert, bs-callout {
    border: 2px solid #ff6666;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


/* ================================================================ */
/* when printing the reading, use the whole width */

@media print {
    nav, .nav { display: none; }
    #TOC, .toc { display: none; }
    #main { width: 100%; }
}

/* ================================================================ */
/* This might have padding, but presumably pre > code will have some
padding, thanks to a rule in skeleton.css. */

.codehilite {
    background-color: #eee;
    border: 2px solid #1EAEDB;
    border-radius: 1rem;
    padding: 0px 1em;
}

/* ================================================================ */

.questions > li { border-top: 1px solid teal; font-weight: bold; }
li p { font-weight: normal; }
li { font-weight: normal; }

/* for hidden solutions */

.solution {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
}

.hidden > * {
    display: none;
}

.shown > * {
    display: block;
}
