/* ex2-2.css stylesheet for ex2-2.html
Author: Eni Mustafaraj
*/

body {
  width: 960px;
  margin: 0 auto;
  }

/* Image sources: 
Blue Skye: 
http://solodialogue.files.wordpress.com/2011/02/bright-blue-sky-with-a-few-tiny-white-clouds.jpg
Bird: 
http://xochi.info/XOCHI.INFO/flowers/T/twitter_bird_flower_risto_pekkala_dove_flying-229px.png
*/    
header {
  height: 640px;
  background: url('images/bird.png') no-repeat 5% 105%, 
              url('images/bird.png') no-repeat 20% 60%, 
              url('images/bird.png') no-repeat 40% 80%, 
              url('images/bird.png') no-repeat 60% 40%, 
              url('images/bird.png') no-repeat 70% 45%, 
              url('images/bird.png') no-repeat 60% 50%, 
              url('images/blue-sky.jpg') no-repeat 50% 50%; 
  background-size: auto, 10%, 15%, 5%, 5%, 5%,  auto;
}
                      
                    