/* ex1.css stylesheet for ex1.html
Author: Eni Mustafaraj
*/

body {
  width: 960px;
  margin: 0 auto;
  }
  
/* Image source: 
http://solodialogue.files.wordpress.com/2011/02/bright-blue-sky-with-a-few-tiny-white-clouds.jpg
*/

header {
  height: 640px;
  background: url('images/blue-sky.jpg') no-repeat;
}
                      
                    