# begin file .htaccess
# allows http access via the "guest" credentials
AuthUserFile /var/www/htpasswd-guest
AuthGroupFile /dev/null
AuthName "By Invitation Only"
AuthType Basic

order deny,allow
deny from all
allow from .wellesley.edu
allow from 149.130.
allow from .w3.org
allow from 128.30.52.
# the following environment variable is set by the server
# from a X-FORWARDED-FOR header, so that this .htaccess
# will work with Varnish
SetEnvIf X-FORWARDED-FOR "^149.130." OkIP 
# This IP is for w3.org
SetEnvIf X-FORWARDED-FOR "^128.30.52" OkIP
allow from env=OkIP
require valid-user 
satisfy any
# end file .htaccess
