/* ex2-1.css stylesheet for ex2-1.html
Author: Eni Mustafaraj
*/

body {
  width: 960px;
  margin: 0 auto;
  }

/* Image sources: 
Blue Skye: 
http://solodialogue.files.wordpress.com/2011/02/bright-blue-sky-with-a-few-tiny-white-clouds.jpg
Bird: 
http://xochi.info/XOCHI.INFO/flowers/T/twitter_bird_flower_risto_pekkala_dove_flying-229px.png
*/    
header {
  height: 640px;
  background: url('images/bird.png') no-repeat, 
              url('images/blue-sky.jpg') no-repeat; 
  background-position: center bottom, 0% 0%;
}
                      
                    