#board {
    overflow: hidden;
}

#pics, #names {
    float: left;
	padding: 5px;
}

/* Ultimately, make this responsive, so that we can play on a small screen */

#left { float: left; width: 80%; }
#right { float: left; width: 20%; }

#pics {

}

#pics figure {
    display: block;
    width: 20%;
    height: 150px;
    float: left;
    padding-right: 20px;
}

#pics figure img {
    width: 100%;
}

#names p {
}
