/* ex7.css
  Purpose: Stylesheet for HungerGames examples.
  Written by Eni Mustafaraj
  Feb, 2014
*/


body {
  width: 960px; /* fixed-width layout */
  margin: 0 auto; /* centers the content in the middle */
  background-color: lightgray;
}


figure {
  float: right;
  border: 1px black solid;
  padding: 3px;
}

aside {
  float: left;
  border: 1px black solid;
  padding: 5px;
  width: 188px; /* this value will make sure the sidebar box will occupy 200px */
}

section {
  margin-left: 210px; /* we add this to allow for the floating column on the left*/
}
