body {
   font-family: "Gill Sans", Arial, san-serif;
   font-size:  200%;
   width: auto;
   color: #554444;
}
h1 {
   margin-left: 10px;
   font-size: 32pt;
   letter-spacing: 0.25cm;
}
#container {
       width:  900px;
}
#nav {
	float:left;
       width: 300px;
 }
#main {
	margin-left: 300px;
}

/* For navigation bar */
#nav {
  margin: 0px;
  padding: 5px 0px;
  width: 300px;
/*   background-color: #00CED1;  */
} 

#nav ul {
  margin: 0px;
  padding: 0px 10px;
  list-style-type: none;
}

#nav li {
  font-family: "Gill Sans", Arial, san-serif;
  font-size: 20px;
  padding: 0px 10px; 
} 

#nav a {
  border-color: #AEEEEE;
  border-width: thick;
  border-style: hidden;
  text-decoration:none;
} 
#nav A:hover {
  border-color:#AEEEEE;
  border-width: thick;
  border-style: solid;
  color:  #AEEEEE;
}
#nav A:link {
	color: #191970;
}
#nav A:visited{
	color: grey;
}
