# begin file .htaccess
    AuthType Basic
    AuthName "CS210 Staff and Tutors Only"
#    AuthUserFile /var/www/htpasswd
    AuthUserFile /home/cs204/public_html/solutions/htpasswd
    AuthGroupFile /dev/null
    Options All
    <RequireAny>
       Require user cs204grader
       Require host w3.org  # ip 128.30.52.0" # w3.org Allow from all
    </RequireAny>
