/* This is a CSS file, adapted from ~anderson/sda-style.css */

body {
   font-family: Verdana, Arial, sans-serif;
   font-size:  medium;
   width: 960px;
}

/* If an old browser doesn't have HTML5 semantic tags, this rule will fix that*/
nav, footer, header {
  display: block;
}

header h1 {
    font-size: 300%;
    text-shadow:
    0 -2px 3px #FFF,
    0 -4px 3px #AAA,
    0 -6px 6px #666,
    0 -8px 9px #000;
  text-align: center;
}

/* For navigation bar */

nav {
  margin: 0px;
  padding: 5px 0px;
  background-color: black; 
  text-align: center;
} 

nav ul {
  margin: 0px;
  padding: 0px 10px;
  list-style-type: none;
}

nav li {
  display: inline;
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  padding: 0px 10px; 
} 

nav a {
  border-color: yellow;
  border-width: thin;
  border-style: hidden;
  text-decoration:none;
} 

nav a:link {
  color : yellow;
} 

nav A:visited {
  color : yellow;
} 

nav A:hover {
   border-color: yellow;
   border-width: thin; 
   border-style: solid; 
   color: rgb(80%,82%,69%);
}

/* For the list of icons for copyright, standards compliance and so forth */

#iconlist {
   display:  block;
   padding-top: 20px;
   padding-left: 0px;
   margin-left: 0px;
   border-left: 0px;
   border-top: 2px solid gray;
   margin-top: 3ex;
   width: 100%;
}

#iconlist li {
   display: inline;
   list-style-type: none;
   padding-left:   0px;
   padding-right: 10px;
}
 
