.borderTest{border:1px solid white}

*{margin:0;padding:0}

body{background-color:lightseagreen}

.main{
	width:70%;
	margin:2em auto 0 auto;
	text-align:center
}

.fontStyle{color:white;font-family:'Fauna One',serif}

.question{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464}

.success{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464;text-shadow:1px 1px 1px #646464;margin-top:2%;margin-bottom:10%;margin-left:auto;margin-right:auto;display:none;color:floralwhite;background-color:forestgreen;width:20%;border-radius:5px;text-transform:uppercase;padding:10px;font-size:3em}

.answer{color:white;font-family:'Fauna One',serif;background-color:floralwhite;border:4px solid skyblue;margin-top:1em;margin-bottom:2%;padding:10px;text-align:left;font-size:1.5em;position:relative}

.selected{background-color:moccasin!important;border:2px solid lightcoral}

.hidden{display:none!important;visibility:none!important}

.currentAnswer{position:relative}

#intro{position:relative;margin-top:10%}

#quiz{display:none}

.header{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464;font-size:6.4em;color:khaki}

#start-btn{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464;margin-top:32px;height:100px;width:30%;text-align:center;background-color:seagreen;border:0;border-radius:5px;box-shadow:3px 3px 3px rgba(1,1,1,0.6)}#start-btn:hover{margin-top:28px;border:3px solid springgreen}#info{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464;font-size:2em;width:50%;margin-top:50px;margin-left:auto;margin-right:auto;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;transition:all .1s ease-in-out}#info a{text-decoration:none;text-shadow:1px 1px 1px #010101;color:blue}#info:hover{background-color:powderblue;margin-top:45px;border-radius:5px;border:2px solid royalblue;box-shadow:2px 2px 3px #010101}#tip{color:white;font-family:'Fauna One',serif;font-size:4em;text-shadow:3px 3px 3px #646464;margin-top:15px;font-size:1em;color:blanchedalmond;text-shadow:1px 1px 1px rgba(1,1,1,0.2)}#status{color:white;font-family:'Fauna One',serif;display:none;height:40px;line-height:40px;font-size:30px;text-align:right;color:blanchedalmond;text-shadow:1px 1px 1px #646464;padding-right:15px}#end{display:none;margin-top:10%}#end p{color:white;font-family:'Fauna One',serif;font-size:2em;margin-top:5%}#end a{text-decoration:none;color:mediumblue}