# begin file .htaccess
AuthUserFile /home/cs204/.htpasswd
AuthGroupFile /dev/null
AuthName "Professor or Tutor Only"
AuthType Basic

php_value mail.log '/home/cs204/php-mail.log'

order deny,allow
deny from all
# the X-FORWARDED-FOR header is set by varnish
# so this pattern will let us use .htaccess with varnish
SetEnvIf X-FORWARDED-FOR "^149.130." OkIP 
SetEnvIf X-FORWARDED-FOR "^128.30.52" OkIP  # w3.org
allow from env=OkIP
require valid-user 
satisfy any
# end file .htaccess
