/* ex12.css
  Purpose: Stylesheet for HungerGames examples.
  Written by Eni Mustafaraj
  Feb, 2014
*/


body {
  width: 960px; /* fixed-width layout */
  margin: 0 auto; /* centers the content in the middle */
  background-color: lightgray;
}

figure {
  float: right;
  border: 1px black solid;
  padding: 3px;
}

#leftAside {
  float: left;
  border: 1px black solid;
  padding: 5px;
  width: 188px; /* this value will make sure the sidebar box will occupy 200px */
}

#rightAside {
  float: right;
  border: 1px black solid;
  padding: 5px;
  width: 188px;
}

section {
  margin-left: 210px; /* we add this to allow for the floating column on the left*/
  margin-right: 210px; /* we add this to allow for the floating column on the left*/
  background-color: olive;
  overflow: hidden; /* add this to prevent the floating element from popping out*/
}

footer {
  border-top: 1px black solid;
  clear: both; /* stay away from the floating elements */
}

