{% extends "base.html" %}
{% block content %}

<article id="main" class="twelve columns">

    {{article}}

<h2 id="rubric">Rubric</h2>

<p>Here's the grading rubric for this assignment:</p>

<div id="rubric_template" style="display: none;">
    <li><span class="points">XY</span> points: <span class="desc"></span></li>
</div>

<div id="rubric_goes_here"></div>
<script>
    $.getScript("rubric_data.js", function () {
        var ul = $("<ul>");
        var li = $("#rubric_template > li");
        var dest = $("#rubric_goes_here");
        var title = rubric_data.assign_num+": "+rubric_data.assign_desc;
        $("<p>").text(title).appendTo(dest);
        rubric_data.items.forEach(function (elt) {
            console.log(elt.desc);
            var c = li.clone();
            c.find(".points").text(elt.value);
            c.find(".desc").text(elt.desc);
            c.appendTo(ul);
        });
        dest.append(ul);
   })
     .fail(function () { console.log("Rubric failed to load"); });
</script>


<h2 id="gradescope">Gradescope</h2>

<p>To save paper and to allow online grading, I want you to use
Gradescope.  Gradescope requires a PDF to be uploaded, so you'll have to
generate such a PDF. Here's one way to do it:</p>

<ul>
    <li>Create an empty Google Doc.</li>
    <li>Write in it a sentence like: <q>Ron Weasley and I worked on this in my workspace, at this URL:  </q> and then paste in the URL for the workspace. If you worked alone, just say that.
    <li>Use the File menu to download the page as a PDF (or print it and save as PDF).
    <li>Upload the PDF to Gradescope.
</ul>


<p><strong>Gradescope allows group submissions!</strong> If you worked
with a partner, one of you should upload the Gradescope submission for
*both* of you. Once you the submission is made, there is an option in the
upper right to add group members. <strong>Please be sure to do
that.</strong>  Helpful screenshots:

<figure>
    <img src="{{HOME}}images/Gradescope-group-members-1.png">
    <img src="{{HOME}}images/Gradescope-group-members-2.png">
    <figcaption>Adding your partner to a Gradescope submission. Clicking
    on the "View or edit group" link on the left leads to the page at the
    right.</figcaption>
</figure>

<p>This <a href="https://www.youtube.com/watch?v=a6DERS94qPY">video</a>
shows how to submit your assignment. (It also includes info for
instructor. The relevant part is from about 0:30 to 1:45.) 

<h2>Time and Work</h2>

<p>Finally, when you have completed the assignment, make sure you fill out
the <a href="https://docs.google.com/forms/d/e/1FAIpQLScf6yY2B7ntP3WEcZBkY7nsbPtZl5TVyNvviK0wcwLf-97hGg/viewform?usp=sf_link">time and work</a>
That report is <em>required</em>.</p>

<p>In addition, you may send me a compliment or criticism of your partner
    by filling out
    the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfT2pcrT7RbPiP51eU8ppewSfaVz03RxwK9WhTGFS2Wn77vBw/viewform?usp=sf_link">Partner Report</a>
    That report is <em>optional</em>.



</article>
{% endblock %}
