/* FILE NAME: style.css
   WRITTEN BY: Jean Herbst
   DATE: Feb  04 2014
   PURPOSE: For CS110, Lab 2
*/

body { color: #3399cc;
  font-family: "Lucida Console",sans-serif;
  font-size: 12pt;
  background: url("images/places/lakewaban.jpg"); 
  background-size:132%;
  background-repeat:no-repeat;

}

h1{
  text-align: center;
  font-size: 40pt; 
  font-style: italic;
} 

a {
  text-decoration: none;
  color:  #3399cc;
  font-size: 14pt;
}

a:hover {
  background-color: silver;
}

ul {
   list-style-type: none;   
}

li {
  margin-left: -30px;
  margin-bottom: 5px;
}
 
nav {
    width: 220px;
    border-top: 5px solid darkred;  
    float: left;
}

  
figure {
  margin-right: 110px; 
  float: left;
}

figcaption {
  font-size: 10pt;
  color: darkred;
  text-align: center;
  padding-top: 3px;
}

img {
 box-shadow: 10px 10px 5px #888888; 
}

#committed {
  border: 10px outset darkred;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 10px 20px;
  clear: both;
}

h3{
  text-align: center;
  color: darkred;  
}


 
