/* Google Form Stylesheet 

Copied directly from the Google Form page.
Might need more editing.
*/

body.ss-base-body {
  background-color: #faf9f9;
  color: #694423;
  font-family: serif,serif;
}
div.ss-form-container {
 /* background: #fff url('//ssl.gstatic.com/docs/forms/themes/images/v0/0AX42CRMsmRFbUy00MGU1NGQ5Yy0yZDBkLTRmZGItOThlMi1iMmFlYzE0MWQyZjc/cookies.png') bottom center repeat-x;*/
  border-color: #ddd5cd;
  padding: 15px 15px 140px;
}
/*
h1.ss-form-title, .ss-resp-card .ss-header-image {
  background: #fff url('//ssl.gstatic.com/docs/forms/themes/images/v0/0AX42CRMsmRFbUy00MGU1NGQ5Yy0yZDBkLTRmZGItOThlMi1iMmFlYzE0MWQyZjc/cookies.png') top center repeat-x;*?
}*/

h1.ss-form-title, h1.ss-confirmation {
  font-style: italic;
  font-weight: normal;
}
h1.ss-form-title {
  font-size: 2.6em;
  margin: 0 -15px 0;
  padding: 140px 0 0;
  text-align: center;
}
.ss-resp-card .ss-header-image {
  height: 90px;
}
pre.ss-form-desc {
  font-family: georgia,serif;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.ss-q-title {
  border-bottom: 1px solid #ddd5cd;
  font-size: 1.2em;
  margin: 0 0 5px;
  padding: 0 0 1px;
}
div.errorbox-bad .ss-q-title {
  border: none;
  padding: 0;
}
pre.ss-form-desc, label.ss-q-help, td.ss-leftlabel, td.ss-rightlabel {
  color: #7e7975;
  font-style: italic;
}
td.ss-scalerow {
  border-color: #ddd5cd;
}
textarea {
  width: 90%;
}
div.ss-form-container {
  background-repeat: no-repeat;
}
div.ss-form-container {
  border-style: double;
}
div.ss-form-container {
  border-width: 1px;
}
body.ss-base-body {
  background-repeat: repeat;
}
h2.ss-section-title {
  background-color: transparent;
}
div.ss-submit div.ss-form-entry {
  background: none;
  border: none;
}

/* This was added by Eni */

.ss-choice-item {
  list-style-type: none;
  }
  
 .answer {
  font-size: xx-large;
  color: #b77;
  margin-top: 50px;
  border: 1px solid #55d;
  padding: 20px;
 }